.username {

  color: #2563eb;

  font-weight: bold;

  font-size: 32px;

  margin-left: 8px;

  font-family: "Segoe UI", sans-serif;

  background: linear-gradient(90deg, #2563eb, #22c55e);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

}
