.feed-container {
  padding: 20px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: start;
}
.card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
   display: flex;
  flex-direction: column;
  flex: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
}

.moving {
  background-color: #e0f0ff;
  color: #007bff;
}

.gardening {
  background-color: #e6f9ec;
  color: #28a745;
}

.painting {
  background-color: #f3e8ff;
  color: #6f42c1;
}

.date {
  color: gray;
  font-size: 12px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
}

.info p {
  font-size: 13px;
  margin: 5px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card-footer button {
  background-color: #4caf50;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.task-card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.task-card h3 {
  color: #2563eb;
}

.task-card button {
  background-color: #22c55e;
}

.task-card button:hover {
  background-color: #16a34a;
}
