.sidebar {
  width: 240px;
  background-color: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar li:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #e6f0ff;
  color: #0066ff;
  font-weight: bold;
}