.auth-container {
  height: 100vh;
  background: #fdf6ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: #ffffff;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.auth-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.auth-card h2 {
  margin-bottom: 8px;
}

.auth-subtext {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #1565c0;
}