.body{
  position: relative;
  min-height: 100vh;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    filter: brightness(0.7);
}
.login-wrapper {
  min-height: 100vh;
  /* background: #eef4ff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

.login-card label {
  font-size: 14px;
  font-weight: 500;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 15px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot {
  color: #2563eb;
  cursor: pointer;
}

.login-card button {
  width: 100%;
  padding: 11px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-card button:hover {
  background: #1e40af;
}

.signup {
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
}

.signup span {
  color: #2563eb;
  cursor: pointer;
}
.login-wrapper {

  display: flex;

  height: 100vh;

  font-family: Arial, sans-serif;

}

.login-left {

  flex: 1;

  background: linear-gradient(135deg, #2563eb, #3b82f6);

  color: white;

  display: flex;

  flex-direction: column;

  /* background-image: url(../assets/handshake.jpg); */

  justify-content: center;

  align-items: center;

  padding: 40px;

}

/* .login-left::before {

  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

} */

.login-left img {

  width: 300px;

  margin-bottom: 20px;

  filter: brightness(0) invert(1);

}

.login-left h1 {

  font-size: 32px;

  margin-bottom: 10px;

}

.login-left p {

  font-size: 18px;

}

.login-right {

  flex: 1;

  display: flex;

  justify-content: center;

  align-items: center;

  background: #f9fafb;

}

.login-form {

  background: white;

  padding: 30px;

  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  width: 350px;

}

.login-form input {

  width: 100%;

  padding: 10px;

  margin: 10px 0;

  border: 1px solid #ccc;

  border-radius: 6px;

}

.login-form button {

  width: 100%;

  padding: 10px;

  background: #2563eb;

  color: white;

  border: none;

  border-radius: 6px;

  cursor: pointer;

}

.login-form button:hover {

  background: #1d4ed8;

}
