.verify-wrapper {
  height: 100vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.verify-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

.verify-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.verify-card button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verify-card button:hover {
  background-color: #1d4ed8;
}